
@font-face {
  font-family: 'AppleSDGothicNeoEB00';
  src: url('AppleSDGothicNeoEB00.eot?#iefix') format('embedded-opentype'),  url('AppleSDGothicNeoEB00.otf')  format('opentype'),
	     url('AppleSDGothicNeoEB00.woff') format('woff'), url('AppleSDGothicNeoEB00.ttf')  format('truetype'), url('AppleSDGothicNeoEB00.svg#AppleSDGothicNeoEB00') format('svg');
  font-weight: normal;
  font-style: normal;
}
